.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.search-bar {
  display: flex;
  margin-bottom: 20px;
}

input[type="text"] {
  flex: 1;
  margin-right: 10px;
}

.movies-container {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}

.movie {
  flex: 1;
  margin-right: 10px;
}

.movie img {
  max-width: 200px;
  height: auto;
}
